################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/colornet/NetModel4/NetModel4/obj
/colornet/NetModel4/.vs/NetModel4/DesignTimeBuild
/colornet/NetModel3/.vs/NetModel3/DesignTimeBuild
/colornet/NetModel3/.vs/NetModel3/v15/Server/sqlite3
*.suo
/colornet/NetModel3/Net/obj/Debug
/colornet/NetModel4/.vs/NetModel4/v15/Server/sqlite3
/colornet/NetModel3/Net/bin/Debug
/WebSites/Gamaun/.vs
/colornet/NetModel4/Net/obj/Debug
/colornet/NetModel4/Net/bin/Debug
/colornet/NetModel4/packages
/.vs
/colornet/NetModel4/EmergentImage/bin/Debug
/colornet/NetModel4/EmergentImage/obj/Debug
/winforms/Grate
/colormath/ColorMath/ColorMathApp/obj/x86
/colormath/ColorMath/ColorMathLib/obj
/colormath/ColorMath/ColorMathManager/obj/x86
/colormath/ColorMath/ColorMathManager2/obj/x86
/colormath/ColorMath/InternalViewerLib/obj
/colormath/ColorMath/InternalViewerLibTest/obj
/colormath/ColorMath/WPFColorPicker/DropDownCustomColorPicker/obj
/colornet/NetModel3/Net/obj/Release
/colornet/NetModel4/EmergentImage/bin/Release
/colornet/NetModel4/EmergentImage/obj/Release/TempPE
/colornet/NetModel4/EmergentImage/obj/Release
/colornet/NetModel4/Net/bin/Release
/colornet/NetModel4/Net/obj/Release
/colornet/NetModel4/.vs/NetModel4/v16/Server/sqlite3
/colormath/ColorMath/ColorMap/ColorMapView/obj/Release
/colormath/ColorMath/ColorMap/TestColorMapView/obj/x86/Release/TestColorMapView.csprojAssemblyReference.cache
/colornet/NetModel4/PieChart.Example/bin/Debug
/colornet/NetModel4/PieChart.Example/obj
/colornet/NetModel4/PieChart/obj
/colornet/NetModel4/PieChart/bin/Debug
/colormath/ColorMath/ColorMap/ColorMapView/obj/Debug
/colormath/ColorMath/ColorMap/TestColorMapView/obj/x86
/colormath/ColorMath/ColorMathLib/bin/Debug
/colormath/ColorMath/ColorMathManager2/bin/Debug
/colormath/ColorMath/WPFColorPicker/DropDownCustomColorPicker/bin/Debug
/colormath/ColorMath/ColorMap/ColorMapView/bin/Debug
/colormath/ColorMath/ColorMathApp/bin/Debug
/colormath/ColorMath/ColorMathManager/bin/Debug
/colormath/ColorMath/InternalViewerLib/bin/Debug
/colormath/ColorMath/InternalViewerLibTest/bin/Debug
/colornet/NetModel4/.vs/NetModel4/FileContentIndex
/colornet/NetModel4/Net/bin/x64/Debug
/colornet/NetModel4/EmergentImage/bin/x64/Debug
/colornet/NetModel4/EmergentImage/obj/x64/Debug
/colornet/NetModel4/Net/obj/x64/Debug
