################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/colornet/NetModel4/NetModel4/obj
