/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

@font-face {
    font-family: "MyGlyph";
    src: url("../fonts/glyphicons-halflings-regular.eot");
    src: url("../fonts/glyphicons-halflings-regular.woff") format("woff"), 
         url("../fonts/glyphicons-halflings-regular.otf") format("opentype"), 
         url("../fonts/glyphicons-halflings-regular.svg#filename") format("svg");
}

.links line {
  stroke: #aaa;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  /* background: url('backforest1.jpg') no-repeat center center;*/
  background: radial-gradient(#0060AA, #000355);
  background-size:cover;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    /*box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
    font-family: 'MyGlyph';
    /* override browser settings */
    margin : 0px;
    padding :0px;
}



#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 32px;
}

#vis {
  position: fixed;
  top: 32px;
  bottom: 32px;
  left: 0;
  right: 0;
  overflow: auto;
}